body {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Times New Roman';
    position: relative;
    top: 54px;
    left: 384px;
    display: inline;
}

#p1 {
    font-family: 'Times New Roman';
    position: relative;
    top: 180px;
    left: 220px;
    font-size: 30px;
    font-weight: 50;
    display: inline;
}

p {
    font-family: 'Lato';
    position: relative;
    top: 250px;
    left: 422px;
    margin-bottom: 20px;
    text-align: left;
    display: inline;
}

ul {
    list-style-type: none;
    position: absolute;
    top: 108px;
    left: 326px;
}

ul li {
    display: inline-block;
    font-family: 'Lato';
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

h5 {
    position: fixed;
    bottom: 1px;
    right: 5px;
}

ul li a:hover {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}