body {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transform: translate(calc(50vw - 960px), calc(50vh - 540px + 70px));
}

h1 {
    font-family: 'Times New Roman';
    position: absolute;
    top: 54px;
    left: 384px;
}

.p1 {
    font-family: 'Times New Roman';
    position: absolute;
    top: 194px;
    left: 403px;
    font-size: 30px;
}

p {
    font-family: 'Lato';
    position: relative;
    top: 25%;
    left: 23%;
    margin-bottom: 10px;
    padding: 0;
}

p a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    position: absolute;
    top: 10%;
    left: 17%;
}

ul li {
    display: inline-block;
    font-family: 'Lato';
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

h5 {
    position: absolute;
    top: 70px;
    left: 600px;
}


ul li a:hover {
    animation: blink 0.8s infinite;
}

p:hover {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

