body {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Times New Roman';
    position: fixed;
    top: 40px;
    left: 390px;
    display: inline;
}

#p1 {
    font-family: 'Times New Roman';
    position: fixed;
    top: 170px;
    left: 390px;
    font-size: 30px;
    font-weight: 50;
    display: inline;
}

#title {
    border: 1px solid black;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#email {
    font-family: 'Lato';
    position: fixed;
    top: 250px;
    left: 410px;
    display: flex;
    text-decoration: none;
    color: inherit;
}

#linkedin {
    font-family: 'Lato';
    position: fixed;
    top: 300px;
    left: 410px;
    display: flex;
    text-decoration: none;
    color: inherit;
}


ul {
    list-style-type: none;
    position: fixed;
    top: 108px;
    left: 326px;
}

ul li {
    display: inline-block;
    font-family: 'Lato';
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

h5 {
    position: fixed;
    bottom: 1px;
    right: 5px;
}


ul li a:hover {
    animation: blink 0.8s infinite;
}

a:hover {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

