body {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Times New Roman';
    position: fixed;
    top: 40px;
    left: 390px;
    display: inline;
}

#p1 {
    font-family: 'Times New Roman';
    position: fixed;
    top: 170px;
    left: 390px;
    font-size: 30px;
    font-weight: 50;
    display: inline;
}

#title {
    border: 1px solid black;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.title-list {
    list-style-type: none;
    position: fixed;
    top: 108px;
    left: 326px;
}

ul.title-list li {
    display: inline-block;
    font-family: 'Lato';
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 500;
}

ul.title-list li a {
    text-decoration: none;
    color: inherit;
}

#desk-gear {
    position: fixed;
    top: 250px;
    left: 410px;
    font-family: 'Lato';
    font-weight: 50;
}

#tech {
    position: fixed;
    top: 590px;
    left: 410px;
    font-family: 'Lato';
    font-weight: 50;
}

#gear-list {
    list-style-type: disc;
    position: absolute;
    top: 305px;
    left: 461px;
    padding-left: 20px;
    margin: 0;
}


#gear-list li {
    font-family: 'Lato';
    padding: 14px 18px;
    font-size: 15px;
    font-weight: 500;
}

#gear-list2 {
    list-style-type: disc;
    position: absolute;
    top: 650px;
    left: 461px;
    padding-left: 20px;
    margin: 0;
}

#gear-list2 li {
    font-family: 'Lato';
    padding: 14px 18px;
    font-size: 15px;
    font-weight: 500;
}

h5 {
    position: fixed;
    bottom: 1px;
    right: 5px;
}

ul li a:hover {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@font-face {
    font-family: 'Lato';
    src: url(Lato-Light.ttf)
}