@font-face {
    font-family: 'Lato';
    src: url(Lato-Light.ttf)
}

body {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transform: translate(calc(50vw - 960px), calc(50vh - 540px + 70px));
}

h1 {
    font-family: 'Times New Roman';
    position: fixed;
    top: 170px;
    left: 850px;
    text-align: center;
    padding: 10px;
    width: 180px;
    border: 1px solid black;
}

.ae86 {
    position: absolute;
    top: 240px;
    left: 576px;
    width: 768px;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 350px;
    left: 672px;
    z-index: 2;
}

ul li {
    font-family:'Lato';
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

ul li a {
    text-decoration: none;
    color: inherit; 
}

ul li a:hover {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

h5 {
    position: absolute;
    top: 193px;
    right: 795px;
}