@font-face {
    font-family: 'Lato';
    src: url(Lato-Light.ttf)
}

body {
    background-color: whitesmoke;

}

h1 {
    font-family: 'Times New Roman';
    position: fixed;
    top: 200px;
    left: 830px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.ae86 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 240px;
    left: 576px;
    width: 768px;
    z-index: 1;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 310px;
    left: 620px;
    z-index: 2;
}

ul li {
    font-family:'Lato';
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    color: black;
}

ul li a:hover {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

h5 {
    position: fixed;
    bottom: 1px;
    right: 5px;
}