@font-face {
    font-family: 'Lato';
    src: url(Lato-Light.ttf)
}

body {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Times New Roman';
    position: absolute;
    top: 20%;
    left: 44.5%;
    padding: 10px;
    width: 180px;
    border: 1px solid black;
}

.ae86 {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 32.5%;
    left: 35%;
    z-index: 2;
}

ul li {
    font-family:'Lato';
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
}

ul li a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

ul li a {
    text-decoration: none;
    color: inherit; 
}

ul li a:hover {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}